<div class="col-md-12" style="padding-top: 7em;">
<div class="col-md-6" style="padding: 0px 10px 50px 10px; background: rgba(0,0,0,0.7)">
  <div class="col-md-12">
      <h3 class="heading" style="text-align: left;">Call Us</h3>
      <div class="container">
      <table class="table-condensed">
        <tr>
          <th class="sub-heading">Office:</th><td><a href="tel:+911141669288" class="body-text">011-41669288</a></td>
        </tr>
        <tr>
          <th class="sub-heading">Sales:</th><td><a href="tel:+919811459911" class="body-text">+91-9811459911</a></td>
        </tr>
      </table>
      </div>
  </div>

  <div class="col-md-12">
    <h3 class="heading" style="text-align: left;">Or drop us an email</h3>
    <p class="container"><a href="mailto:sales@radiantdelhi.com" class="body-text">sales@radiantdelhi.com</a></p>
  </div>
  <div class="col-md-12">
    <h3 class="heading" style="text-align: left;">Better yet, see us in person!</h3>
    <div class="col-md-6">
        <p style="margin-top: 0px; padding-top: 0px;"><span class="sub-heading">Radiant Engineers</span><br>
            C-23 DSIDC Complex,<br>Kirti Nagar,<br>New Delhi - 110015</p>
    </div>
    <div class="col-md-6">
        <p class="sub-heading" style="text-align: left;">Business Hours</p>
        <table class="table-condensed">
            <tr>
              <th class="sub-heading">Mon-Sat:</th><td>10am-6pm</td>
            </tr>
            <tr>
              <th class="sub-heading">Sun:</th><td>closed</td>
            </tr>
          </table>
    </div>
  </div>
</div>

<div class="col-md-6 map-container">
  <agm-map [latitude]=28.642801 [longitude]=77.137366 [zoom]=12>
    <agm-marker [latitude]=28.642801 [longitude]=77.137366 ></agm-marker>
  </agm-map>
</div>

</div>
