<div class="col-md-12" style="margin-top: 9em">
	
	<div class="col-md-6 primary"
		style="background: rgba(0, 0, 0, 0.7); border-radius: 15px; text-align: justify;">
		<h3 class="heading">About Us</h3>
		<p>
			Founded in the year <span style="font-weight: bold;">2002</span>, at <span
				style="font-weight: bold;">New Delhi (India)</span>, <span
				style="font-weight: bold;">Radiant Engineers</span> is engaged in <span
				style="font-weight: bold;">distributing</span> a comprehensive
			assortment of <span style="font-weight: bold;">Industrial
				Adhesives &amp; Sealants, Surface Protective Coatings, Metal Filled
				Epoxies, Anti-Seize Compounds, Biodegradable Cleaners and much more</span>
			of <span style="color: red;">Loctite</span>&reg; make and <span
				style="font-weight: bold;">Specialty Lubricants</span> of <span
				style="color: #42A5F5;">Molygraph</span>&reg; make.
		</p>
		<p>These products are formulated by our principals under the
			guidance of their skilled professionals by making use of best grade
			chemicals and latest processing techniques. The offered products are
			highly acclaimed for their properties like purity, high effectiveness,
			longer shelf life, precise pH value and accurate composition.</p>
	</div>
	<div class="col-md-6"></div>

</div>