nav{
	background-color: rgba(0, 0, 0, 0.7);
	margin-top: 5px;
	color: #fff;
}

.nav-style{
	position: fixed;
	top: 0px;
	z-index: 100;
}

nav a{
    color: #d4d4d4;
}

.searchResults{
	background: rgba(0,0,0,0.9);
  padding-top: 0px;
  overflow-y: scroll;
  max-height: 70vh;
}

.searchList{
  text-align: left;
  padding-left: 2em;
  list-style: none;
  margin-bottom: 5px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px
}

.searchList a{
  color: #fff;
}

.searchList:hover{
  position: relative;
  left: 1px;
  -webkit-transform: scale(1.05); /* Safari */
  transform: scale(1.05);
  cursor: pointer;
}
