<div class="col-md-12 container-fluid nav-style" style="margin: 0px 0px 0px 0px">
<nav class="navbar navbar-light" style="padding-bottom: 0px; margin-bottom: 0px">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse_elements"
				aria-expanded="false" id="">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" routerLink="/home" (click)="notifyNavigation(0)">Radiant Engineers</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="collapse_elements">
      <div class="navbar-form navbar-left">
        <div class="btn-group" role="group" style="margin: 0px; padding: 0px">
          <input data-toggle="dropdown" list="productList" id="navbarProductSearchInput"
              type="text" class="form-control dropdown-toggle" placeholder="Search our products"
              aria-haspopup="true" aria-expanded="false" autocomplete="off"
              [(ngModel)]="searchString" (ngModelChange)="searchProducts()"
              (focus) = "searchAllowed = true" (blur)="searchAllowed = false">
          <ul *ngIf="true==false" id="productList" class="dropdown-menu"><li><a>hiii</a></li>
          </ul>
        </div>
        <!-- <button class="btn btn-default" (click)="searchProducts()">Search</button> -->
      </div>
      <ul class="nav navbar-nav">
				<li><a routerLink="/our-products" (click)="notifyNavigation(1)">Our products<span class="sr-only"></span></a></li>
				<li><a routerLink="/about-us" (click)="notifyNavigation(2)">About us</a></li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="tel:+911141669288"><span><img src="assets/images/call_3.png" height="20px"></span>011-41669288</a></li>
				<li><a routerLink="/contact-us" (click)="notifyNavigation(3)">Contact us</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<div *ngIf="searchAllowed && storeSearchResult != null && searchString != ''" class="searchResults col-md-offset-2 col-md-8">
	<div class="col-md-6" style="text-align: center;">
    <div class="col-md-12">
      <h4>Products</h4>
      <ul>
        <li *ngFor="let product of storeSearchResult.products" class="searchList">
          <a>{{product.name}}</a>
          <br>
          <small>{{product.category}}</small></li>
      </ul>
      <small *ngIf="storeSearchResult.products.length === 0">Search doesn't match any product</small>
    </div>
  </div>

	<div class="col-md-6" style="text-align: center;">
      <div class="col-md-12">
        <h4>Category</h4>
        <ul>
          <li *ngFor="let category of storeSearchResult.categories" class="searchList">
            <a>{{category.name}}</a>
            <br>
        </ul>
        <small *ngIf="storeSearchResult.categories.length === 0">Search doesn't match any category</small>
      </div>
	</div>
</div>
</div>
