.base-container{
  margin-top: 7em;
}

.category-list{
  background: rgba(0,0,0,0.6);
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  list-style: none;
  cursor: pointer;
}

.category-list a{
  color: #d4d4d4;
}
