<body class="root col-md-12" style="min-height: 100vh"
	[ngStyle]="{'padding': '0px', 'background-image': 'url('+getBackgroundUrl()+')',
	 'background-size': 'cover',
	 'background-position': 'top center', 		
	 'background-repeat': 'no-repeat',		
	 'background-attachment': 'fixed'}">
	<app-navbar (notify)="onNavigation($event)"></app-navbar>
	<router-outlet></router-outlet>
</body>

