body{
	background: #FFF;
    color: #e4e4e4;
    font-family: 'arial'
}



p{
	font-size: 1.1em;
}

.body-text{
	color: #e4e4e4;
}

.primary1{
	background: #FF9800;
}

.primary-inv1{
	background: #FFA726
}

.primary{
	background: rgba(0,0,0,0.7);
}

.primary-inv{
	background: rgba(0,0,0,0.5);
}

.navbar .navbar-toggle .icon-bar{
	background-color: #d4d4d4;
}

.heading{
	text-align: center; 
	color: #fff; 
	font-family: 'impact';
}

.sub-heading{
	color: #fff;
}

.translucent-fill{
	position: absolute;
	top:0px;
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%
}

.sub-title1{
	font-size: 0.7em;
	color: blue;
}