<div style="position: relative; overflow: hidden; height: 400px">
	<div class="translucent-fill"></div>
	<div class="col-md-offset-3 col-md-6 cover-inner">
		<h1>
			Welcome to Radiant Engineers!
		</h1>
		<h3>
			Serving all your Industrial needs since 2002
		</h3>
	</div>
	<h3 class="col-md-12 cover-inner"
		style="top: auto; bottom: 10px; background-color: rgba(0, 0, 0, 0.5)">
		<span *ngFor="let image of LOGOS; let i = index"><img height='40em' [src]='image'>
			<span *ngIf="i < LOGOS.length-1">&#x25cf;</span>
		</span>
	</h3>
</div>
<div class="col-md-8 primary"
	style="padding-left: 10%; padding-right: 10%; padding-top: 5em; padding-bottom: 5em;">
	<h2 class="heading">The Radiant Bond!</h2>
	<p style="text-align: justify;">
		Be assured of high quality products with smooth and long lasting
		performances when you buy it from Radiant. We offer the best services,
		discounts and offers on products from the most trusted brands in the
		industry. Radiant Engineers are the authorised distributors of <span
			class="bold">Loctite and Molygraph</span> since 2002. With our honest
		and expert opinion, you can find best solutions to your industrial
		maintainance problems. A bond you create with Radiant would last
		forever.
	</p>
</div>
<div class="col-md-4" style="padding-right: 0px; padding-left: 0px;">
	<img src="assets/images/loctite_portrait_5.jpg" width="100%"
		class="portraitImage"> 
</div>

<div class="col-md-12 myslider-parent primary-inv">
	<h2 class="heading">What they say</h2>
	<div class="myslider-child">
		<p>"Radiant has been our trusted supplier of all Industrial
			Consummables. If you are buying if from Radiant, you have the best
			quality, service and price!"</p>
		<small>-Ujjwal Chadha</small>
	</div>
</div>
