.cover-image{
	min-width: 100%;
}

.cover-inner{
	position: absolute;
	top: 7em; 
	text-align: center;
	color: #f5f5f5;
}

.myslider-parent{
	position: relative;
	overflow: hidden;
	height: 17em;
}

.myslider-one{
	position: absolute; 
	top: 50%;
	left: -100%; 
	width: 100%;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%
}

.myslider-two{
	position: absolute; 
	top: 30%;
	left: 0%; 
	width: 100%;
	text-align: center;
	overflow: hidden;
	padding-left: 20%;
	padding-right: 20%
}

.myslider-child{
	position: absolute; 
	top: 30%;
	left: 0%; 
	width: 100%;
	text-align: center;
	overflow: hidden;
	padding-left: 20%;
	padding-right: 20%
}




#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}


.topbar{
	background-color:#FFC107; 
	color:#eee; 
	padding:10px 10px 10px 10px;
	font-family: arial;
	border-radius: 5px;
}